/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #fff9c4;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #ff6d00;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}
/* 992px and down */
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  img.parallax {
    width: 100%;
    height: auto;
  }
  /* project images */
  img.project {
    width: 180px;
    height: 80px;
  }
}
/* pixel 2 */
@media only screen and (max-width: 411px) {
  img.parallax1 {
    background-image: url(/images/parallax/iphone5.png);
  }
  /* project images */
  img.project {
    width: 400px;
    height: 100px;
  }
}
/* iphone 5 */
@media only screen and (max-width: 320px) {
  img.parallax {
    width: 100%;
    height: auto;
  }
  /* project images */
  img.project {
    width: 320px;
    height: 100px;
  }
}
/* iphone 7 */
@media only screen and (max-width: 375px) {
  img.parallax {
    width: 100%;
    height: auto;
  }
  /* project images */
  img.project {
    width: 320px;
    height: 100px;
  }
}
/* Moto G4 */
@media only screen and (max-width: 360px) {
  img.parallax {
    width: 100%;
    height: auto;
  }
  /* project images */
  img.project {
    width: 340px;
    height: 100px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  img.parallax {
    width: 100%;
    height: auto;
  }
  /* project images */
  img.project {
    width: 200px;
    height: 100px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  img.parallax {
    width: 100%;
    height: auto;
  }
  /* project images */
  img.project {
    width: 250px;
    height: 150px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  /* parallax image */
  img.parallax {
    width: 100%;
    height: auto;
  }
  /* project images */
  img.project {
    width: 300px;
    height: 200px;
  }
}
/* ipad pro */
@media only screen and (max-width: 1024px) {
  /* parallax image */
  img.parallax {
    width: 100%;
    height: auto;
  }
  /* project images */
  img.project {
    width: 300px;
    height: 200px;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#intro{
  margin-left:15em;
  margin-right:25em;
  margin-bottom:6em;
  margin:none;
}

body{
  background-color: #ccff90;
}